<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
  <title> Comments Single Thread </title>
</head>
<body>
  <h1> Comments </h1>
  <a href="/posts"> All Posts </a>
  <p></p>

  <% comments.forEach(function (comment){ %>
    <div class="container">
      <h3>Comment: <span class="title"><%=comment.content %></span></h3>
      <h3>Post Title: <span class="title"><%=comment.post_id %></span></h3>
    </div>
  <% }) %>
</body>
</html>
