<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title> Single Thread Comments/Post </title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
</head>
<body>
  <div class="bg2"></div>
  <div class="insideContainer">
    <div class="welcomeLeft">
      <h2> Comments </h2>
    </div>
    <div class="nav">
      <a href="/posts">All Posts</a>
    </div>
  </div>
  <% postInfo.forEach(function (postData){ %>
    <div class="containerData">
      <h4 class="title"><%=postData.title %></h4>
      <p class="body"><%=postData.body %></p>
    </div>
  <% }) %>
  <% info.forEach(function (data){ %>
    <div class="container">
      <p class="body"><%=data.content %></p>
      <h4 class="user"><%=data.user_name %></h4>
    </div>
  <% }) %>
</body>
</html>
