<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Page</title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
</head>
<body>
  <div class="insideContainer postEditContainer">
    <div class="welcomeLeft">
      <h1> My Comment Edit Page </h1>
    </div>
    <div class="nav">
      <a href="/posts">All Posts</a><span> | </span>
    </div>
    <div class="container">
      <p class="body"><%=comment.content %></p>
    </div>
    <form class="formEdit" action= <%= "/comments/" + comment.id + "?_method=PATCH"%> method="POST">
      <input type="text" name="content" value placeholder="Comment" required />
      <button class="ui orange button" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
