<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Single Thread Comments/User </title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
</head>
<body>
  <div class="bg2"></div>
  <div class="insideContainer">
    <div class="welcomeLeft">
      <h2> My Comments </h2>
    </div>
    <div class="nav">
      <a href="/posts">All Posts</a>
    </div>
  </div>
  <% info.forEach(function (data){ %>
    <div class="container">
      <p class="body"><%=data.content %></p>
      <h4 class="title"><%=data.title %></h4>
      <div class="containerLinks">
        <a href= <%= "/comments/" + data.id + "/edit"%>> Edit </a><span> | </span>
        <form action= <%= "/comments/" + data.id + "?_method=DELETE"%> method="POST">
          <button class="containerDelete" type="submit">Delete</button>
        </form>
      </div>
    </div>
  <% }) %>
</body>
</html>
