* {
  margin: 0;
}
body {
  width: 95%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

/*-------------------- HOME PAGE OUTSIDE --------------------*/

.bg {
    border: 10px solid #fff;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/reddit4.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.containerTop {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerTop a{
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1.15em;
  width: 4em;
  justify-content: center;
  align-items: center;
}
.containerTop a:hover {
  color: #FF4500;
  border: 1px solid #FF4500;
}

/*-------------------- LOGIN/SIGN UP PAGE --------------------*/

.bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallContainer {
  border: 1px solid #000;
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
  margin-top: 1em;
  background-color: #fff
}
.smallContainer h2 {
  font-size: 1.25em;
}
.smallContainer a {
  color: #2B60DE
  cursor: pointer;
  font-size: 0.75em;
  margin-bottom: 14px;
}
.smallContainer a:hover {
  border-bottom: 1px solid #FF4500;
}
input {
  display: block;
  margin-bottom: 1em !important;
  margin: auto;
}

/*-------------------- HOME PAGE INSIDE --------------------*/

.insideContainer {
  position: relative;
  margin-top: 0.25em;
}
.welcomeLeft {
  display: flex;
}
.welcomeLeft h2 {
  margin: 0;
  margin-top: 0.32em;
  font-size: 2.5em;
  margin-right: 0.5em;
}
.welcomeLeft h3 {
  margin: 0;
  margin-top: 0.30em;
  font-size: 2.5em;
  border-bottom: 2px solid #FF4500;
}
.nav {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.nav a {
  font-size: 1.25em;
  color: #2B60DE;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}
.nav a:first-child {
  padding-left: 0;
}
.nav a:hover {
  border-bottom: 1px solid #FF4500;
}
.logout {
  position: absolute;
	right:0;
	top: 0;
}
.logout a {
    padding: 1em;
    border: 1px solid #000;
    cursor: pointer;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 1.15em;
    cursor: pointer;
}
.logout a:hover {
  color: #FF4500;
  border: 1px solid #FF4500;
}
.bg2 {
    border: 10px solid #fff;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/reddit2.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .1;

}
.container {
  border: 1px solid #000;
  padding: 0.5em;
}
.title {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
.body {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  font-weight: lighter;
}
.user {
  font-size: 1.25em;
  border-bottom: 2px solid #FF4500;
  width: 7em;
  margin-bottom: 0.75em;
  font-weight: normal;
}
.containerLinks {
  display: flex;
}
.containerLinks a {
  font-size: 1em;
  color: #2B60DE;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
}
.containerLinks a:hover {
  border-bottom: 1px solid #FF4500;
}
.containerLinks button {
  font-size: 1em;
  color: red;
  margin-left: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.containerLinks button:hover {
  border-bottom: 1px solid red;
}
.containerLinks a:first-child {
  padding-left: 0;
}

/*-------------------- USER MAIN PAGE --------------------*/

.smallContainer h3 {
  margin: auto;
  font-size: 1.25em;
  border-bottom: 2px solid #FF4500;
  width: 7em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: normal;
}
.smallContainer .smallContainerA {
  color: #2B60DE
  cursor: pointer;
}
.containerLinksUser a {
  font-size: 1em;
  color: #2B60DE;
  text-decoration: none;
  cursor: pointer;
}
.deleteUserForm {
  display: inline-block !important;
}
#deleteUser {
  font-size: 1em;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
#deleteUser:hover {
  border-bottom: 1px solid red;
}

/*-------------------- POST EDIT PAGE --------------------*/

.postEditContainer{
  padding-left: 5%;
}

/*-------------------- COMMENTS PAGE --------------------*/

/*.containerData {
margin-bottom: 1.25em;
padding: 1em;
}*/

/*-------------------- NEW COMMENT PAGE --------------------*/

.formEdit input[type=text]{
  margin: auto;
  margin-top: 1em;
}

/*-------------------- NEW EDIT PAGE --------------------*/

.formEditC{
  margin-top: 1em;
}

/*-----------------------------------------*/
/*-----------RESPONSIVE GENERAL------------*/
/*-----------------------------------------*/

@media screen and (max-width: 400px) {

  /*-------------------- LOGIN/SIGN UP PAGE --------------------*/

  .bigContainer {
    display: block;
    width: 90%;
    margin: auto;
  }
  .smallContainer {
    font-size: 1.5em;
  }
  .smallContainer a {
    margin-bottom: 14px;
  }
  .formEdit {
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 14px;
  }
  .formEdit input[type=text] {
    margin: 0;
  }

  /*-------------------- HOME PAGE INSIDE --------------------*/

  .insideContainer {
    margin-top: 1em;
  }
  .welcomeLeft {
    display: flex;
    flex-direction: column;
  }
  .welcomeLeft h2, .welcomeLeft h3 {
    font-size: 1.25em;
  }
  .welcomeLeft h3 {
     width: 50%;
  }
  .nav a {
    font-size: .75em;
    padding-left: .25em;
    padding-right: .25em;
  }
  .title {
    font-size: 1.25em;
  }
  .body {
    font-size: 1em;
  }
  .user {
    font-size: .75em;
  }
  .containerLinks a {
    font-size: .75em;
  }

 }
