<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title> Sign Up </title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
</head>
<body>
  <!-- <div class="bg2"></div> -->
  <div class="bigContainer">
    <div class="smallContainer">
      <h2>Sign Up Page</h2>
      <form class="formEdit" action="/signup" method="post">
          <input type="text" name="user_name" value placeholder="User Name">
          <input type="password" name="password" value placeholder="Password">
          <button class="ui orange button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
