<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> User Edit Page </title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
</head>
<body>
  <div class="bigContainer">
    <div class="smallContainer">
      <h1 id="smallContainerH1UserEdit"> User Edit Page </h1>
      <a  href="/posts">All Posts</a>
      <h3><%= info.user_name %></h3>
      <form action= <%= "/" + info.id + "?_method=PATCH"%> method="POST">
        <input id="userTextbox" type="text" name="user_name" value placeholder="User Name" required />
        <button class="ui orange button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
