<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Post Page</title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
</head>
<body>
  <div class="bigContainer">
    <div class="smallContainer">
      <h1 id="smallContainerH1NewPost"> New Post Page </h1>
      <a class="smallContainerA" href="/posts">All Posts</a>
      <form class="smallContainerForm" action="/users/<%= userID %>/posts/new" method="POST" >
      		<input type="text" name="title" value placeholder="Title" autofocus required/>
          <input type="text" name="body" value placeholder="Body" required />
          <button class="ui orange button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
