<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Single Thread Posts </title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
</head>
<body>
  <div class="bg2"></div>
  <div class="insideContainer">
    <div class="welcomeLeft">
      <h2> My Posts </h2>
    </div>
    <div class="nav">
      <a href="/posts">All Posts</a><span> | </span>
      <a href="/users/<%= userID %>/posts/new">New Post</a>
    </div>
  </div>
  <% posts.forEach(function (post){ %>
    <div class="container">
      <h4 class="title"><%=post.title %></h4>
      <p class="body"><%=post.body %></p>
      <div class="containerLinks">
        <% if (userID  === cookie) { %>
           <% include ../partials/post-edit-button.ejs %>
          <% } %>
      </div>
    </div>
  <% }) %>
</body>
</html>
